body{
	text-align: center;
	background-color: #09adad;
	color: #ffbd39;
	font-weight: bold;
	font-family: Ariel, sans-serif;
}

h1{
	text-align: center;
	color: #ffbd39;
}

fieldset{
	width: 40%;
	margin: auto;
	display: inline-block;
	text-align: center;	
	border-color: #Ff3939;
	border-radius: 10px;
	border-width: 5px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.8), 6px 6px 6px rgba(0,0,0,0.23);
}

.textfields{
	border-radius: 5px;
	font-family: Ariel, sans-serif;
}

.checkboxes{
	float: left;
	margin: auto;
	padding-left: 150px;
}

.radios{
	float: left;
	margin: auto;
	padding-left: 150px;
}
