/*TODO  
	- Style Background 	
	- Style Buttons (Radio, Checkboxes, Submit) 
	- Style Fieldset
	- Style Text Fields
	- Style Fonts
*/

body{
	text-align: center;
	background-color: #700cbc;
	color: #7fbd32;
	font-weight: bold;
	font-family: Ariel, sans-serif;
}

h1{
	text-align: center;
	color: #7fbd32;
}

fieldset{
	width: 40%;
	margin: auto;
	display: inline-block;
	text-align: center;	
	border-color: #FB8604;
	border-radius: 10px;
	border-width: 5px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.8), 6px 6px 6px rgba(0,0,0,0.23);
}

.textfields{
	border-radius: 5px;
	font-family: Ariel, sans-serif;
}

.checkboxes{
	float: left;
	margin: auto;
	padding-left: 150px;
}

.radios{
	float: left;
	margin: auto;
	padding-left: 150px;
}